version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 10
    # Optionally ignore large update groups
    ignore:
      - dependency-name: "next"
        update-types: ["version-update:semver-major"]
